Repository christianalfoni/timsy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "package.json": "sort-package-json"
}

chore: restructure core files
  index.test.d.ts
  index.test.js
  index.test.js.map
  jest.config.js
  package.json
  src/index.ts
  src/react.ts
  src/vanilla.ts
  tests/react.test.ts
  tests/vanilla.test.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

docs: Fix typo in react test file
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: Copy static content to the dist folder
  LICENSE
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, sort-package-json

chore: Update build system to use babel
  babel.config.js
  jest.config.js
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, sort-package-json

chore: Add react as peerDependencies
  package.json
Due: prettier --write --ignore-unknown, sort-package-json

feat: Rename vanilla to core
  package.json
  rollup.config.js
  src/core.ts
  src/index.ts
  src/react.ts
  tests/core.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

fix: set the pre-push husky command as executable
  .husky/pre-push
Due: prettier --write --ignore-unknown

bump
  package.json
Due: prettier --write --ignore-unknown, sort-package-json

utilities
  README.md
  package.json
  src/core.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

change API
  README.md
  package.json
  src/core.ts
  src/react.ts
  tests/core.test.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

fix type bug on pickEvents
  package.json
  src/core.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

Update core.ts
  src/core.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

merge subscribe
  README.md
  package.json
  src/core.ts
  src/react.ts
  tests/core.test.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

Update README.md
  README.md
Due: prettier --write --ignore-unknown

Fix issue with machine reference
  src/react.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

Support React 18
  src/core.ts
  src/react.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

optional array
  package.json
  src/react.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

try to make React 18 work
  package.json
  src/react.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

no need to support
  src/react.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

add promise machine and better docs
  README.md
  package.json
  src/core.ts
  src/react.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

typo
  README.md
Due: prettier --write --ignore-unknown

wip
  src/core.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

ready to ship
  README.md
  package.json
  src/core.ts
  tests/core.test.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json

update API
  src/core.ts
  src/react.ts
  tests/core.test.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

change to detached hooks
  README.md
  src/core.ts
  src/react.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

fix tests
  src/react.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

remove unnecessary import
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

change API and docs
  README.md
  package.json
  src/core.ts
  src/react.ts
  tests/core.test.ts
  tests/react.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, sort-package-json
